.container-nmc{
    @include max-width-992{
        width: 100%;
    }
    @include min-width-992{
        max-width: 876px !important;
    }
    @include min-width-1280{
        max-width: 1140px !important;
    }
    @include min-width-1440{
        max-width: 1200px !important;
    }
    @include min-width-1536{
        max-width: 1440px !important;
    }
}
body {
    font-family: 'Inter';
}
.webkitbox-1{
    @include webkit-box(1)
}
.webkitbox-2{
    @include webkit-box(2)
}
.webkitbox-3{
    @include webkit-box(3)
}
.product-item{
    @include max-width-425{
        padding:12px;
        &__img{
            margin-bottom: 8px;
            img{
                border-radius: 6px;
            }
        }
        &__des{
            font-size: 12px;
            font-weight: 500;
        }
        &__rate{
            margin-bottom: 8px;
        }
        &__control {
            &> p{
                font-size: 14px;
            }
            &>div{
                i{
                    font-size: 16px;
                }
            }
        }
    }
}
button{
    &:focus-visible{
        outline: none;
    }
}