.qty-input {
    color: $gray;
    display: inline-flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    background: transparent;
    width: fit-content;
    border-radius: 4px;
    border: 1px solid #BFBFBF;

    .product-qty,
    .qty-count {
        background: transparent;
        color: inherit;
        font-size: 16px;
        font-weight: 600;
        border-left: none;
        border-right: none;
        display: inline-block;
        min-width: 0;


        &:focus {
            outline: none;
        }
    }

    .product-qty {
        width: 72px;
        height: 32px;
        text-align: center;
        appearance: textfield;
        color:#262626;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            appearance: none;
            margin: 0;
        }
    }

    .qty-count--add {
        border-left: 1px solid #BFBFBF;

        &:hover {
            background: $orange-orange-6;
        }
    }

    .qty-count--minus {
        border-right: 1px solid #BFBFBF;

        &:hover {
            background: $orange-orange-6;
        }
    }

    .qty-count {
        padding: 0;
        width: 32px;
        height: 32px;
        cursor: pointer;
        font-size: 24px;
        text-indent: -100px;
        overflow: hidden;
        position: relative;
        transition: all 0.5s;

        &:before,
        &:after {
            content: "";
            height: 2px;
            width: 10px;
            position: absolute;
            display: block;
            background: #262626;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            transition: background 0.5s;
        }

        &--add {
            &:after {
                transform: rotate(90deg);
            }
        }

        &:disabled {
            color: #ccc;
            background: #d2f3e3;
            cursor: not-allowed;
            border-color: transparent;

            &:before,
            &:after {
                background: #ccc;
            }
        }
    }
}