$width-1920: 1920px;
$width-1536: 1536px;
$width-1440: 1440px;
$width-1400: 1400px;
$width-1366: 1366px;
$width-1280: 1280px;
$width-992: 992px;
$width-768: 768px;
$width-640: 640px;
$width-576: 576px;
$width-425: 425px;
$width-360: 360px;

@mixin min-width-576 {
    @media (min-width: #{$width-576}) {
        @content;
    }
}

@mixin min-width-640 {
    @media (min-width: #{$width-640}) {
        @content;
    }
}

@mixin min-width-768 {
    @media (min-width: #{$width-768}) {
        @content;
    }
}

@mixin min-width-992 {
    @media (min-width: #{$width-992}) {
        @content;
    }
}

@mixin min-width-1280 {
    @media (min-width: #{$width-1280}) {
        @content;
    }
}

@mixin min-width-1366 {
    @media (min-width: #{$width-1366}) {
        @content;
    }
}

@mixin min-width-1400 {
    @media (min-width: #{$width-1400}) {
        @content;
    }
}

@mixin min-width-1440 {
    @media (min-width: #{$width-1440}) {
        @content;
    }
}

@mixin min-width-1536 {
    @media (min-width: #{$width-1536}) {
        @content;
    }
}

@mixin min-width-1920 {
    @media (min-width: #{$width-1920}) {
        @content;
    }
}

@mixin max-width-1400 {
    @media (max-width: #{$width-1400 - 1px}) {
        @content;
    }
}

@mixin max-width-1366 {
    @media (max-width: #{$width-1366 - 1px}) {
        @content;
    }
}

@mixin max-width-1280 {
    @media (max-width: #{$width-1280 - 1px}) {
        @content;
    }
}

@mixin max-width-992 {
    @media (max-width: #{$width-992 - 1px}) {
        @content;
    }
}

@mixin max-width-768 {
    @media (max-width: #{$width-768 - 1px}) {
        @content;
    }
}

@mixin max-width-640 {
    @media (max-width: #{$width-640}) {
        @content;
    }
}

@mixin max-width-576 {
    @media (max-width: #{$width-576 - 1px}) {
        @content;
    }
}

@mixin max-width-425 {
    @media (max-width: #{$width-425 - 1px}) {
        @content;
    }
}

@mixin max-width-360 {
    @media (max-width: #{$width-360}) {
        @content;
    }
}

@mixin webkit-box($number: 4) {
    display: -webkit-box !important;
    -webkit-line-clamp: $number;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}