.article-detail {
    &__main {
        &__content {
            h1 {
                color: $primary;
                margin-bottom: 8px;
                font-weight: 600;
            }

            &__info {
                padding-bottom: 16px;
                margin-bottom: 24px;
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid #e6d5bc;
                &>p {
                    color: $gray;

                    span:nth-child(1) {
                        font-weight: 500;
                    }
                }

                &>div {
                    display: flex;
                    align-items: center;
                    column-gap: 12px;

                    img {
                        width: 32px;
                        height: 32px;
                        object-fit: cover;
                        border-radius: 100%;
                    }

                    p {
                        font-weight: 600;
                    }
                }
            }
            &>article{
                padding-bottom: 24px;
                border-bottom: 1px solid #e6d5bc;
                h2,h3,h4{
                    margin-bottom: 24px;
                    color: $primary;
                }
                &>*{
                    margin-bottom: 12px;
                }
                img{
                    margin-bottom: 24px;
                }
            }
            &__share{
                padding: 24px 0px;
                display: flex;
                justify-content: space-between;
                &>p{
                    font-size: 20px;
                    font-weight: 600;
                    display: flex;
                    align-items: center;
                    transition: all 0.3s;
                    color: $gray;
                    i{
                        margin-right: 6px;
                        display: inline-flex;
                        align-items: center;
                    }
                    &:hover{
                        color: $primary;
                        cursor: pointer;
                    }
                }
                &>div{
                    display: flex;
                    align-items: center;
                    font-size: 20px;
                    font-weight: 600;
                    color: $gray;
                    p{
                        color: $gray;
                    }
                    i{
                        display: flex;
                        align-items: center;
                        margin:0px 6px;
                        transition: all 0.3s;
                        &:hover{
                            color: $primary;
                            cursor: pointer;
                        }
                    }
                    .bdx-note{
                        font-size: 22px;
                    }

                }
            }
        }
        &__menu{
            margin-bottom: 24px ;
            padding: 12px;
            border-radius: 12px;
            background: #f9f9f9;
            h2{
               text-align: center;
               color: $primary; 
            }
            &__toc{
                &>ol{
                    &>li{
                        a{
                            font-weight: 400;
                        }
                        &>ol{
                            margin-top: 8px;
                            a{
                                color: $gray !important;
                            }
                        }
                    }
                    li{
                        margin-bottom: 8px;
                    }
                }
            }
        }
    }
    &__review__list{
        padding-top: 60px;
        padding-bottom: 60px;
        &__heading{
            margin-bottom: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: $primary;
            span{
                text-transform: capitalize;
            }
        }
        &__addcomment{
            display: flex;
            justify-content: center;
            button{
                padding: 12px 24px;
                border-radius: 100px;
                width: fit-content;
                background-color: $orange-orange-6;
            }
        }
    }
}