.banner-carousel {
    .slick-dots {
        bottom: 25px;

        @include min-width-768 {
            top: 50%;
            left: 50%;
            transform: translateX(-2%) rotate(90deg);
            bottom: unset !important;
        }
    }

    .banner {
        &>* {
            display: flex !important;
            flex-wrap: wrap;
        }
    }
    .slick-track{
        display: flex;
        .slick-slide{
            height: auto;
            &>div{
                height: 100%;
                &>div{
                    height: 100%;
                    display: flex !important;
                    align-items: center;
                    .banner-img{
                        display: flex;
                        justify-content: center;
                        img{
                            max-width: 70%;
                            min-width: 40%;
                            @include max-width-768{
                                max-width: 40%;
                            }
                        }
                    }
                }
            }
        }
    }
}

.cate-carousel {
    .slick-track {
        display: flex;
    }

    .slick-list {
        margin: 0 -12px;
    }

    .slick-slide {
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 24px;
        @include max-width-425{
            gap: 12px;
        }

        &>div {
            margin: 0 12px;
            height: 50%;

            &>div {
                display: flex !important;
                height: 100%;
                padding: 20px;
                justify-content: space-between;
                align-items: center;
                background: #FBF4EA;
                border-radius: 24px;
                @include max-width-425{
                    padding: 10px 24px;
                    img{
                        max-height: 64px;
                    }
                }

                &>* {
                    width: calc((100% - 40px)/2);
                    height: fit-content;
                }
            }
        }
    }

    .slick-dots {

        li {

            button:before {
                background-color: #e9e9e9;
            }

            &.slick-active {
                color: #F7C937 !important;

                button:before {
                    background-color: #F7C937;
                }
            }
        }

    }
}
.productList-carousel,
.productList-tworows,
.product-detail__recommend__list,
.product-detail__recommend{
    .slick {

        &-prev,
        &-next {
            width: 64px;
            height: 64px;

            &:hover {
                opacity: 1 !important;
                border-color: #FFCA41 !important;
                &::before{
                    color: #FFCA41 !important;
                }
            }

            &:before {
                content: "\65";
                display: block;
                font-size: 64px;
                color: #c2bfbf;
                transition: all 0.35s;
            }

            @include max-width-992 {
                display: none !important;
            }
        }

        &-prev {
            left: -64px;
        }

        &-next {
            right: -64px;

            &:before {
                transform: rotate(180deg);
            }
        }
    }

}

.productList-carousel,.product-detail__recommend__list {
    .slick-list {
        margin: 0 -12px;
    }

    .slick-track {
        display: flex;
    }

    .slick-slide {
        height: auto;
        padding: 0 12px;

        &>div {
            height: 100%;
            &>div{
                height: 100%;
            }
        }
    }

    .slick-dots {
        bottom: -40px;
        @include max-width-425{
            bottom: -20px !important;
        }

        li {
            width: 40px !important;
            @include max-width-768{
                width: 24px !important;
            }
        }
    }
    @include max-width-425{
        .slick-list {
            padding: 0px -4px;
        }
        .slick-slide {
            padding: 0px 4px;
        }
    }
}
.dots-bottom{
    @include max-width-768{
        .slick-dots {
            bottom: -20px !important;
        }
    }
}

.productList-tworows {
    .slick-dots {
        bottom: -16px;
    }

    .slick-track {
        display: flex;
    }

    .slick-list {
        margin: 0 -12px;
    }

    .slick-slide {
        display: flex;
        flex-direction: column;
        gap: 24px;
        height: auto;

        &>div {
            margin: 0 12px;
            height: 50%;

            @include max-width-425 {
                height: 100%;
            }

            &>* {
                height: 100%;
            }
        }
    }

    @include max-width-425{
        .slick-list {
            margin: 0px -12px;
            .slick-slide{
                padding: 0px 4px;
                &>div{
                    margin: 0px;
                }
            }
        }
    }
}

.mindle-banner-carousel {
    .slick-dots {
        li {
            width: 10px !important;
            height: 10px !important;
        }
    }

    &__block {
        min-height: 152px;
        border-radius: 40px;
        overflow: hidden;

        img {
            object-position: left;
        }
    }
}

.servicesCarousel {
    .slick-slide {
        height: auto;

        &>div {
            height: 100%;

            &>div {
                height: 100%;
                display: flex !important;
            }
        }
    }

    .slick-track {
        display: flex;
    }
}