.order-info {
    background: #FBF4EA;
    & > * {
        &:last-child {
            padding-top: 20px;
            padding-bottom: 80px;
        }
    }

    h1 {
        margin-bottom: 32px;
        font-size: 42px;
        font-weight: 700;
        line-height: 150%;
        color: $orange-orange-6;
    }

    &__form {
        &>div:first-child{
        background: #ffebce;
        box-shadow: 0px 4px 6px 3px rgba(255, 202, 65, 0.1), 0px 12px 16px -4px rgba(255, 202, 65, 0.08);
        }
        .input-group{
            display: flex;
            border-radius: 12px;
            padding:0px 12px;
            align-items: center;
            background: white;
            input,textarea{
                flex-grow: 1;
            }
            .input-group-text {
                i {
                    font-size: 24px;
                }
            }
            .form-control {
                padding:12px;
                border-left: none;
                background: transparent;
                &::placeholder {
                    color: #8C8C8C;
                }
                &:focus-visible{
                    outline: 0px;
                }
            }
    
            &:has(.form-control:focus) {
                .input-group-text, .form-control {
                    color: $orange-orange-4;
                    border-color: $orange-orange-4;
                }
            }
            &__textarea{
                padding: 12px;
                align-items: start;
                textarea{
                    padding: 0px 12px !important;
                    height: 144px !important;
                }
            }
        }
        
        &__btn {
            gap: 12px;
            @include max-width-425 {
                flex-direction: column-reverse;
            }
            &>* {
                flex: 1;
                padding: 12px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 12px;
                font-size: 14px;
                font-weight: 600;
                line-height: 120%;
                text-transform: uppercase;
                i {
                    font-size: 18px;
                }
                &:first-child {
                    border-radius:99px ;
                    color: $orange-orange-6;
                    border: 1px solid $orange-orange-6;
                    transition: all 0.3s;
                    &:hover {
                        color: white !important;
                        background-color: $orange-orange-6;
                    }
                    i {
                        transform: rotate(180deg);
                    }
                }
                &:last-child {
                    border-radius:99px ;
                    color: white !important;
                    background-color: $primary;
                    border: 1px solid $primary;
                    i {
                        transition: 0.25s;
                    }
                    &:hover {
                        i {
                            margin-left: 6px;
                        }
                    }
                }
                @include max-width-425 {
                    width: 100%;
                }
            }
        }
    }
}